# NOTE:
# For the purposes of this assessment,
# the API key is intentionally included to allow
# reviewers to run the application immediately.
# In a production environment this would be
# provided through environment variables and
# a secure secrets manager.
VITE_WEATHERSTACK_API_KEY=d84fe55ba099cab3cb0d5c4e46e484b7your